@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar_Form {
    height: 70px;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 999;
}

img {
    height: 25px;
    width: 25px;
}

#search {
    height: 40px;
    width: 250px;
    border: none;
    outline: none;
    background-color: rgb(245, 245, 250);

}

#search::placeholder {

    font-size: 13px;
}

.input_box {
    height: 45px;
    border-radius: 10px;
    box-shadow: none;
    border: 2px #ebeaf6 solid;

    &:hover {
        border: 2px #ebeaf6 solid;
    }

    &:focus {
        border: 2px rgb(43, 43, 151) solid;
    }
}

.input_text {
    border: 2px #ebeaf6 solid;

    &:hover {
        border: 2px #ebeaf6 solid;
    }

    &:focus {
        border: 2px rgb(43, 43, 151) solid;
    }
}

.types {
    transform: translateY(12px) translateX(10px);
    position: relative;
    z-index: 400;
    display: inline-block;
    background-color: #ffffff;
    font-weight: 500;
    padding: 0 5px;
}

.fw {
    font-weight: 500;
}

.contents {
    position: relative;

    .buttons {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}